{% extends "investapp/base.html" %}

{% block content %}

  <p>
    <a href="{% url 'investapp:edit_account' acc.id %}">Edit</a>
    <a href="{% url 'investapp:delete_account' acc.id %}">Delete</a>
  </p>

  <p><b>Account Details</b></p>

  <ul>
    <li>ID: {{ acc.id }}</li>
    <li>Account Name: {{ acc.name }}</li>
    <li>Account: {{ acc.type }}</li>
  </ul>

  <p><b>Account Breakdown</b></p>

  <table>
    <tr>
      <th>ETF_ID</th>
      <th>Quantity</th>
    </tr>
    {% for stock in stock_list %}
    <tr>
      <td>{{ stock.etfID }}</a></td>
      <td>{{ stock.quantity }}</td>
    {% empty %}
      <li>No stocks have been added yet.</li>
    {% endfor %}
    </tr>
  </table>

  <br>
    <a href="{% url 'investapp:addETFtoAccount' acc.id%}">Add an ETF to an Account:</a>

{% endblock content %}